# General development files
.venv
*.swp
*.ft
*.bin

# Project files 
swda.py
swda_functions.py
swda.zip
swda/
swb1_dialogact_annot.tar.gz
swb1_dialogact_annot/

# Mac-specific files
__MACOSX/
.DS_Store
LIN127.code-workspace
__pycache__
